<!DOCTYPE html>
<html>
    <head>
        <title>calenderrr</title>
    </head>

    <body>
        <h1>Calendar working</h1>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div>{{ form.name.label }} {{ form.name() }}</div>
            <div>{{ form.start_date.label }} {{ form.start_date() }}</div>
            <div>{{ form.start_time.label }} {{ form.start_time() }}</div>
            <div>{{ form.end_date.label }} {{ form.end_date() }}</div>
            <div>
                {{ form.end_time.label }} {{ form.end_time() }} {% if
                form.end_date.errors %}
                <ul class="errors">
                    {% for error in form.end_date.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div>{{ form.description.label }} {{ form.description() }}</div>
            <div>{{ form.private.label }} {{ form.private() }}</div>
            <div>{{ form.submit.label }} {{ form.submit() }}</div>
        </form>
        <table>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <tbody>
                {% for row in rows %} {% print(row[1]) %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2].strftime("%H:%M") }}</td>
                    <td>{{ row[3].strftime("%H:%M") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
